header.app {
    background-color: var(--primary-color);
    background: linear-gradient(
        -25deg,
        var(--primary-color-variant-1),
        var(--primary-color-variant-1),
        var(--primary-color-variant-2),
        var(--primary-color-variant-2)
    );
    color: var(--secondary-color);
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: -10%;
        right: -10%;
        top: -150%;
        height: 400%;
        transform: rotate(-10deg);
        background-image: url("header-background.svg");
        background-position: center;
        opacity: 0.04;

        @media (prefers-color-scheme: dark) {
            filter: invert(100%);
        }
    }
}

header.app .bar {
    position: relative;

    a {
        color: var(--secondary-color);
        transition: none;
    }

    a:hover {
        filter: none;
        transition: none;
    }

    nav a:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
        opacity: 0.8;
    }
}

header.app .banderole {
    padding: 1em 1em 45px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        margin: 0 25px;

        img {
            padding: 15px;
            width: 128px;
            filter:
                drop-shadow(0 .08rem .1rem rgba(0,0,0,.25))
                drop-shadow(0.1rem .4rem .7rem rgba(0,0,0,.2));
        }
    }

    h1 {
        max-width: 100%;

        font-size: 50px;
        font-weight: 800;

        margin: 0;
        hyphens: auto;
        word-wrap: break-word;
        padding: 10px;
        padding-inline-end: 30px;
        filter: var(--light-shadow);
    }

    @media (max-width: $mobile-width) {
        & {
            flex-wrap: wrap;
        }

        h1 {
            text-align: center;
            font-size: 50px;
            padding-inline-end: 10px;
        }
    }
}

h2 {
    margin-top: 10px;
}

.people {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 25px;
    row-gap: 50px;

    > li {
        display: flex;
        margin: 0;
        align-items: flex-start;

        .badge {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border-radius: 5px;
            padding: 2px 10px 5px;
            font-weight: bold;
            font-variant: all-small-caps;
            display: inline-block;
        }

        & > img {
            border-radius: 50%;
            width: 110px;
            margin-inline-end: 25px;
            filter: var(--icon-shadow);
        }

        ul {
            font-size: 0.9em;
            padding: 8px 0 0;
            margin-inline-start: 2px;

            li {
                display: flex;
                align-items: flex-start;
                padding: 3px 0;

                img {
                    opacity: 0.8;
                    margin-inline-end: 6px;
                    height: 20px;
                    @media (prefers-color-scheme: dark) {
                        filter: invert(1);
                    }
                }

                a, span {
                  min-height: 20px;
                  overflow-wrap: anywhere;
                }
            }
        }

        h4 {
            margin: 6px 0 0;
            font-size: 1.2em;
        }

        .pronouns {
            font-size: 0.9em;
            margin-top: 2px;
        }

        .person {
            text-align: center;
            color: var(--text-color);
            width: 215px;
            padding: 0 30px;
            box-sizing: border-box;

            & > * {
                display: block;
                margin-bottom: 6px;
            }

        }

    }

}

section {
    padding: var(--content-padding) var(--content-padding) 0;

    &.small {
        max-width: 690px;
    }
}



.hull {
    overflow: hidden;
}

.buttons {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .text-button, .text-button:visited {
        display: flex;
        background-color: var(--background-color);
        transition: 0.3s background-color;
        padding: 1em;
        color: var(--text-color);
        border-radius: 7px;

        h4 {
            margin: 0 0 3px;
        }

        .icon {
            filter: var(--light-shadow);
                margin-inline-end: 20px;
                border-radius: 50%;
                background: var(--primary-color);
                padding: 10px;
                height: 24px;
                width: 24px;

            svg {
                color: var(--secondary-color);
                overflow: visible;
                height: 24px;
                width: 24px;
            }
        }


        &:hover {
            background-color: var(--tile-hover-color);
            color: var(--text-color);
            filter: none;

            img {
                filter: var(--icon-shadow);
            }
        }
    }

    a.text-button > *:first-child {
      flex-shrink: 0;
      flex-grow: 0;
    }
}

.keywords {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li {
    display: inline-block;
    font-size: 0.85em;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.8em;
    padding: 0 0.8em;
    margin: 0.3em 0.25em;
  }

  li::before {
    content: "#";
  }
}