body.overview {
    --content-width: 1020px;
    --header-color: #f6f6fb;
    --secondary-text-color: #5e5c64;

    @media (prefers-color-scheme: dark) {
        --header-color: #241f31;
        --secondary-text-color: #c0bfbc;
    }
}

ul.app-list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    column-gap: 30px;
    row-gap: 10px;

    padding: 0;
    margin: 0;

    @media (max-width: $mobile-width) {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
        column-gap: 20px;
        row-gap: 1px;
    }

    li {
        margin: 0;

        a {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            hyphens: auto;
            padding: 20px 15px;
            height: 100%;
            border-radius: 7px;
            transition: 200ms ease;

            @media (max-width: $mobile-width) {
                padding: 15px 0;
            }

            &:hover {
                background: var(--tile-hover-color);
                filter: none;
            }

            & > img, &:hover > img {
                filter: var(--icon-shadow);
                margin-bottom: 0.7em;
                width: 64px;
            }

            div {
                overflow: hidden;
                width: 100%;

                b {
                    color: var(--text-color);
                    align-items: center;
                    font-size: 1.2em;
                    padding-bottom: 0.2em;
                    text-overflow: ellipsis;
                    font-weight: normal;
                    word-wrap: break-word;

                    display: block;
                    justify-content: center;

                    /* mobile icon */
                    img {
                        margin-inline-start: 0.2em;
                    }
                }

                small {
                    font-size: 16px;
                    color: var(--secondary-text-color);

                    @media (max-width: $mobile-width) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

body.overview header.top {
    position: fixed;
}

.special {
    background: linear-gradient(180deg, var(--header-color), var(--background-color));
    margin-top: 70px;
    margin-bottom: 0;

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 30px 20px 40px !important;
        text-align: center;

        @media (max-width: $mobile-width) {
            padding: 15px 20px 20px !important;
        }

        @extend section;

        div {
            max-width: 500px;
            overflow: hidden;

            h2 {
                font-size: 48px;
                font-weight: 800;

                margin-top: 0;
                margin-bottom: 16px;

                hyphens: auto;
                word-wrap: break-word;
            }

            small {
                font-size: 18px;
                color: var(--secondary-text-color);
            }
        }

    }

}

.intro {
    padding: 90px 10px 60px;
    margin-bottom: 60px;
    background: #241f31;

    section {
        display: grid;
        grid-template-columns: 0.85fr 1fr;
        column-gap: 60px;
        row-gap: 35px;
        max-width: 900px;

        @media (max-width: $mobile-width) {
            grid-template-columns: 1fr;
        }

        img {
            max-width: 100%;
        }

        /* Info about illustration */
        small {
          font-size: 0.95em;
          color: #85838e;
          margin-left: 1em;
	  a {
            color: inherit;
            text-decoration: none;
          }
	  a:hover, a:focus {
            color: #f6f6fb;
          }
        }

        div {
            color: var(--secondary-color);
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: $mobile-width) {
                text-align: center;
                margin: auto;
            }

            h1 {
                margin: 0 0 20px;
                font-size: 45px;
                font-weight: 800;
                hyphens: auto;
                word-wrap: break-word;
            }
        }

    }

}

.overview {

    section {
        padding-top: 0;
    }
}
