{% macro app_list(gnome) %}
    <ul class="app-list">
    {%- for app in apps.values() -%}
      {%- if app.gnome == gnome -%}
        <li>
            <a href="{{ app.page_id }}/">
                <img width="64" height="64" src="{{ site.base_url }}/icons/scalable/{{ app.id }}.svg" alt="" role="presentation" />
                <div>
                    <b dir="auto"><span>{{ app.name }}</span>
                        {%- if app.mobile_support -%}
                        <img width="16" height="16" src="{{ site.assets_url }}/mobile.svg" alt="{{ "App supports mobile devices"|t }}">
                        {%- endif -%}
                    </b>
                    <small>{{ app.summary }}</small>
                </div>
            </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

{% macro svg_icon(name) %}
    {%- if name == "donation" -%}
        {% include "svg/donation.svg" %}

    {%- else if name == "download" -%}
        {% include "svg/download.svg" %}

    {%- else if name == "homepage" -%}
        {% include "svg/homepage.svg" %}

    {%- else if name == "bug_tracker" -%}
        {% include "svg/bug_tracker.svg" %}

    {%- else if name == "help" -%}
        {% include "svg/help.svg" %}

    {%- else if name == "translate" -%}
        {% include "svg/translate.svg" %}

    {%- else if name == "contact" -%}
        {% include "svg/contact.svg" %}

    {%- else if name == "release" -%}
        {% include "svg/release.svg" %}

    {%- else if name == "welcome" -%}
        {% include "svg/welcome.svg" %}

    {%- else -%}
        {{ name }}

    {%- endif -%}
{% endmacro %}

{% macro link_box(header, text, icon, url) %}
  {% match url %}
    {% when Some with (url) %}
      {% if url|is_containing("//apps.gnome.org") %}
      {% else %}
        {% call info_box(header, text, icon, url, "") %}
      {% endif %}
    {% when None %}
  {% endmatch %}
{% endmacro %}

{% macro info_box(header, text, icon, url, url_properties) %}
    {%- if url != "" -%}
    <a href="{{ url }}" class="text-button" {{ url_properties }}>
    {%- else -%}
    <div class="text-button">
    {%- endif -%}

        <div class="icon">
            {% call svg_icon(icon) %}
        </div>

        <div>
            {%- if header != "" -%}
                <h4>{{ header }}</h4>
            {%- endif -%}
            {{ text|safe }}
        </div>

    {%- if url != "" -%}
    </a>
    {%- else -%}
    </div>
    {%- endif -%}
{% endmacro %}

{% macro cards(title, desc, img, twitter_img, theme) %}
    <meta name="theme-color" content="{{ theme }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@GNOME">
    <meta name="twitter:image" content="{{ twitter_img }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ "Apps for GNOME"|t }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:image" content="{{ img }}">
{% endmacro %}
