{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block class %}overview{% endblock class %}

{% block title %}{{ "Apps for GNOME"|t }} – {{ "Discover the best Apps for GNOME"|t }}{% endblock title %}

{% block head %}
    {# <link rel="canonical" href="{{ absolute_base_url }}/{{ lang_url_part }}" /> #}
    <link rel="icon" href="{{ site.assets_url }}/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="256x256" href="{{ site.assets_url }}/favicon.svg">
    {% call macros::cards(
        "Discover the best Apps for GNOME"|t,
        "Discover the best applications in the GNOME ecosystem and learn how to get involved."|t,
        "{}/assets/card/disability-pride-month.png"|format(site.absolute_base_url),
        "{}/assets/gnome-card-twitter.png"|format(site.absolute_base_url),
        "#241f31"
       )
    %}
{% endblock head %}

{% block header %}
    <header class="top">
        <div>
            <div><a href="{{ site.lang_base_url }}" class="logo" title="{{ "Overview"|t }}">{% include "svg/gnome.svg" %}</a></div>

            <nav class="index">
                <ul>
                    <li><a href="#core" class="core">{{ "Core"|tc("Short for 'GNOME Core apps.' Navigation link to app section.") }}</a></li>
                    <li><a href="#circle" class="circle">{{ "Circle"|tc("Short for 'GNOME Circle apps.' Navigation link to app section.") }}</a></li>
                    <li><a href="#development" class="dev">{{ "Development"|tc("Short for 'GNOME Development tools.' Navigation link to app section.") }}</a></li>
                    <li><a onclick="selectLanguage(); return false" href="#" title="{{ "Switch Language"|t }}">{% call macros::svg_icon("translate") %}</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="intro">
        <section dir="auto">
          <div>
            {# Use variables here to always have the strings available for translation #}

            {% let queer_pride_month = "[Queer Pride Month](https://en.wikipedia.org/wiki/Pride_Month), displaying the [intersex](https://en.wikipedia.org/wiki/Intersex_flag), [trans](https://en.wikipedia.org/wiki/Transgender_flag), and [rainbow](https://en.wikipedia.org/wiki/Rainbow_flag_(LGBT)), flags."|tc("Information about seasonal header image")|markdown %}

            {% let disability_pride_month = "[Disability Pride Month](https://en.wikipedia.org/wiki/Disability_Pride_Month), displaying two [disability flags](https://en.wikipedia.org/wiki/Disability_flag) and an [autistic flag](https://en.wikipedia.org/wiki/Autistic_Pride_Day)."|tc("Information about seasonal header image")|markdown %}

            {% if Utc::now().month() == 6 %}
              <img src="{{ site.assets_url }}/overview-illustration/queer-pride-month.svg" alt="" role="presentation" />
              <small>{{ queer_pride_month|safe }}</small>
            {% else if Utc::now().month() == 7 %}
              <img src="{{ site.assets_url }}/overview-illustration/disability-pride-month.svg" alt="" role="presentation" />
              <small>{{ disability_pride_month|safe }}</small>
            {% else %}
              <img src="{{ site.assets_url }}/overview-illustration/boring.svg" alt="" role="presentation" />
            {% endif %}
          </div>
          <!--
          <img src="{{ site.assets_url }}/overview-illustration/ace-week.svg" alt="" role="presentation" />
          <small><a href="https://en.wikipedia.org/wiki/Asexuality#Ace_Week">Ace Week, Oct 23–29, 2022</a></small>
          -->
          <div>
              <h1>{{ "Apps for GNOME"|tc("Page title and main heading") }}</h1>
              {{ "Discover the best applications in the GNOME ecosystem and learn how to get involved."|tc("Page subtitle") }}
          </div>
        </section>
    </div>
{% endblock header %}

{% block content %}

    <section dir="auto" class="small">
        <p>{{ "Apps featured in this curated overview are all built with the GNOME philosophy in mind. They are easy to understand and simple to use, feature a consistent and polished design and provide a noticeable attention to details. Naturally, they are [free software](https://fsfe.org/freesoftware/) and have committed to being part of a [welcoming and friendly community](https://wiki.gnome.org/Foundation/CodeOfConduct). These apps will perfectly integrate with your [GNOME Desktop](https://www.gnome.org/)."|tc("LEGACY STRING, WILL BE REMOVED SOON: Main page introductory text (markdown formatted)")|markdown }}</p>
        <!--
        <p>{{ "Apps featured in this curated overview are all built with the GNOME philosophy in mind. They are easy to understand and simple to use, feature a consistent and polished design and provide a noticeable attention to details. Naturally, they are [free software](https://fsfe.org/freesoftware/) and have committed to being part of a [welcoming and friendly community](https://conduct.gnome.org/). These apps will perfectly integrate with your [GNOME Desktop](https://www.gnome.org/)."|tc("CHANGED STRING, WILL BE USED SOON: Main page introductory text (markdown formatted)")|markdown }}</p>
        -->
        <p><img src="{{ site.assets_url }}/mobile.svg" alt="{{ "App supports mobile devices"|t }}"> {{ "Apps supported on GNOME mobile devices are marked with the mobile icon."|t }}</p>
    </section>

    <div id="core"></div>
    <div class="special core">
        <header dir="auto">
            <div>
            <h2>{{ "Core Apps"|tc("App list section heading") }}</h2>
            <small>{{ "GNOME Core apps cover ordinary tasks on the GNOME desktop. They are usually pre-installed on your GNOME system."|tc("App list section text") }}</small>
            </div>
        </header>
    </div>

    <section dir="auto">
        {% call macros::app_list("core") %}
    </section>

    <div id="circle"></div>
    <div class="special circle">
        <header dir="auto">
            <div>
            <h2>{{ "Circle Apps"|tc("App list section heading") }}</h2>
            <small>{{ "GNOME Circle contains applications extending the GNOME ecosystem. It champions the great additional software that is available for the GNOME platform. [Learn more about GNOME Circle.](https://circle.gnome.org/)"|tc("App list section text (markdown formatted)")|markdown }}</small>
            </div>
        </header>
    </div>

    <section dir="auto">
        {% call macros::app_list("circle") %}
    </section>

    <div id="development"></div>
    <div class="special dev">
        <header dir="auto">
            <div>
            <h2>{{ "Development Tools"|tc("App list section heading") }}</h2>
            <small>{{ "GNOME Development tools help develop and design new apps and make it easy to contribute to existing ones."|tc("App list section text") }}</small>
            </div>
        </header>
    </div>

    <section dir="auto" style="margin-bottom: 100px;">
        {% call macros::app_list("development") %}
    </section>

{% endblock content %}

